/* --==================== GOOGLE FONT ====================--> */
@import url("https://fonts.googleapis.com/css2?family=Butcherman&family=Poppins:wght@400;500;600;700&display=swap");

/* --==================== VARIABLE CSS ====================--> */
:root {
    --header-height: 3.5rem;
  
     /* Colors */ 
    --first-color: hsl(22, 72%, 50%);
    --first-color-alt: hsl(22, 72%, 46%);
    --white-color: #fff;
    --text-color: hsl(22, 4%, 75%);
    --text-color-light: hsl(22, 4%, 55%);
    --body-color: hsl(22, 8%, 6%);
    --container-color: hsl(22, 8%, 7%);
  
    /* Font */
    --body-font: 'Poppins', sans-serif;
    --second-font: 'Butcherman', cursive;
  
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
  
    /* Font weight */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
  
    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  /* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/* --==================== STYLES ====================--> */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--white-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1024px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1.5rem;
}

.section-title {
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  font-weight: initial;
  line-height: 130%;
  color: var(--first-color);
  text-align: center;
  margin-bottom: 2.5rem;
}

.main {
  overflow: hidden;
}
  
/* --==================== SHAPES ====================--> */

.shape-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  mix-blend-mode: soft-light;
  opacity: .5;
}

.shape-small, 
.shape-big {
  position: absolute;
  background-color: var(--first-color);
  filter: blur(96px);
  z-index: -1;
  border-radius: 50%;
}

.shape-small {
  width: 150px;
  height: 150px;
}

.shape-big {
  width: 250px;
  height: 250px;
  opacity: .8;
}

/* <!--==================== HEADER AND NAV ====================--> */
.header{
  position: fixed;
  background: transparent;
  width: 100%;
  left: 0;
  z-index: var(--z-fixed);
  transition: background .3s, box-shadow .3s ;
}
.nav{
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items:end;
}

.nav-logo, .nav-toggle, .nav-close{
  display: inline-flex;
  color: var(--white-color);
}

.nav-logo{
  align-items: center;
  column-gap: .5rem;
  font-family: var(--second-font);
  transition: color .3s;
  font-size: var(--normal-font-size);
}
.nav-logo img{
  width: 30px;
}
.nav-logo:hover{
  color: var(--first-color);
}
.nav-toggle{
  font-size: 1.25rem;
  cursor:pointer;
}

@media screen and (max-width:767px) {
  .nav-menu{
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    width: 100%;
    box-shadow: 0 4px 8px hsla(22,10%,2%,.5);
    padding-block: 3.5rem 3rem;
    border-radius: 0 0 2rem 2rem;
    transition: top .4s;
  }
}

.nav-list{
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 1.5rem;
}
.nav-link{
  color: var(--white-color);
  font-family: var(--second-font);
  transition: color .4s;
}
.nav-link:hover{
  color: var(--first-color);
}
.nav-close{
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.nav-img{
  width: 180px;
  position: absolute;
  top: 40%;
  left: -3rem;
}

/* Show Menu */
.show-menu {
  top: 0;
  }

/* --==================== HOME MENU ====================--> */
.home{
  position: relative;
}

.home-container{
  padding-top: 3.5rem;
}

.home-data{
  text-align: center;
  margin-top: 2rem;
}

.home-title{
  position: relative;
  font-size: var(--biggest-font-size);
  line-height: 140%;
  width: max-content;
  margin: 0 auto .5rem;
}

.home-title-img-1,
.home-title-img-2{
  width: 40px;
  position: absolute;
}

.home-title span{
  display: block;
  font-family: var(--second-font);
  font-weight: initial;
  color: var(--first-color);
}
.home-title .span2{
  display: block;
  font-family: var(--second-font);
  font-weight: initial;
  color: var(--white-color);
}
.home-title-img-1{
  top: -1rem;
  left: -1.5rem;
  transform: rotate(-45deg);
  animation: animate-star-1 5s infinite ease-in-out;
}

.home-title-img-2{
  bottom: 2.75rem;
  right: -2.5rem;
  transform: rotate(45deg);
  animation: animate-star-2 5s infinite ease-in-out;
}

.home-description{
  margin-bottom: 2.5rem;
}

.home-image{
  width: 300px;
  justify-self: center;
  margin-top: 1.5rem;
  
}
.home-tree-1,
.home-tree-2{
  width: 120px;
  top: 18rem;
  position: absolute;
}
.home-tree-1{
  left: -2rem;
}
.home-tree-2{
  right: -2rem;
}
/* star animation  */
@keyframes animate-star-1{
  0%{
    transform: scale(.7) rotate(-15deg);
    opacity: .2;
  }
  50%{
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
  100%{
    transform: scale(.7) rotate(-15deg);
    opacity: .2;
  }
}
@keyframes animate-star-2{
  0%{
    transform: scale(1) rotate(15deg);
    opacity: 1;
  }
  50%{
    transform: scale(.7) rotate(45deg);
    opacity: .2;
  }
  100%{
    transform: scale(1) rotate(15deg);
    opacity: 1;
  }
}

.home .shape-small{
  top: -2rem;
  left: -2rem;
}
.home .shape-big{
  bottom: 5rem;
  right: -10rem;
}
/* Button */
.button{
  display: inline-block;
  background-color: var(--white-color);
  padding: 1rem 1.5rem;
  border-radius: 4rem;
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
  transition: background .3s, color .3s;
}
.button:hover{
  background-color: var(--first-color);
  color: var(--white-color);
}

.bg-header{
  background-color: var(--body-color);
  box-shadow: 0px 4px 8px hsl(22, 10%, 2%, .4);
}

/* --==================== CATEGORY ====================--> */

.category{
  position: relative;
}

.category-container {
  padding-top: 4rem;
  display: grid; /* Make sure the container is a grid */
  grid-template-columns: repeat(2, 1fr); /* Two columns of equal width */
  justify-content: center;
  column-gap: 1rem; /* Space between columns */
  row-gap: 6rem; /* Vertical space between rows */
}

.category-card{
  position: relative;
  background-color: var(--container-color);
  border-radius: 2rem;
  padding: 4.5rem 2.25rem 2rem;
  box-shadow: 0 4px 16px hsla(22,10%,2%,.3);
  text-align: center;
  transition: background .3s;
}

.category-image{
  width: 120px;
  inset: 0;
  position: absolute;
  margin: 0 auto;
  top: -3.5rem;
  transition: transform .3s;
}

.category-title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
  margin-bottom: .5rem;
}

.category-description{
  font-size: var(--small-font-size);
}

.category-stars{
  width: 40px;
  position: absolute;
  top: 3.5rem;
  right: -1rem;
  transform: rotate(45deg);
}

.category-card:hover .category-image{
  transform: translateY(-.5rem);
}

.category .shape-small{
  top: 25rem;
  left: -4rem;
}

/* --==================== ABOUT ====================--> */
.about{
  position: relative;
}

